@page "/"

@inject BossDataProvider BossDataProvider

<PageTitle>Index</PageTitle>

<h1 class="display-4">FFXIV Mitigation Planner</h1>

<p class="lead">
    Supported fights:
</p>

<ul>
    @foreach (string boss in this.supportedBosses)
    {
        var link = $"timeline/{boss}";
        <li>
            <a href=@link>@boss</a>
        </li>
    }
</ul>

@code {
    private IEnumerable<string> supportedBosses;

    protected override void OnInitialized()
    {
        this.supportedBosses = this.BossDataProvider.GetBosses();
        base.OnInitialized();
    }
}