@page "/"

@inject BossDataProvider BossDataProvider

<PageTitle>Index</PageTitle>

<h1 class="display-4">FFXIV Cooldown Planner</h1>

<p class="lead">
    Supported fights:
</p>

<ul class="list-unstyled">
    @foreach (BossMetadata boss in this.supportedBosses)
    {
        Guid id = Guid.NewGuid();
        var link = $"timeline/{boss.ShortName}/{id}";
        <li style="padding-bottom:10px">
            <a href=@link class="card" style="background-image: url('@boss.Image'); background-size: 100% 100%; width: 15rem; height: 7rem;">
                <h3 class=display-10 style="color: white; position: absolute; right:5px; bottom:0px">@boss.ShortName</h3>
            </a>
        </li>
    }
</ul>

@code {
    private IEnumerable<BossMetadata> supportedBosses;

    protected override void OnInitialized()
    {
        this.supportedBosses = this.BossDataProvider.GetBosses();
        base.OnInitialized();
    }
}